$dark-color: #76818e;
$accent-color: #a36d90;
$light-color: #c5afa4;
$background: #f4f1ec;
$alert-text-color: #cf4d6f;
$alert-background-color: #e5bec7;
$main-text-color: #545149;
$light-text-color: #fff;