.new-tweet {
  margin-top: 2em;
}

/* Add new tweet footer */
button {
  padding: 0.25em;
  background-color: #a36d90;
  color: #fff;
}

button:hover {
  background-color: #c5afa4;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  border-top: thick solid #76818e;
  padding: 0.75em 0;
  color: #76818e;
  font-family: "Bungee", cursive;
}

.exceed-limit {
  color: #cf4d6f;
}

/* Form validation alerts */
.alert {
  display: none;
  margin-bottom: 1em;
  border-radius: 25px;
  padding: 0.35em;
  background-color: #e5bec7;
  color: #cf4d6f;
  font-weight: bold;
  font-size: smaller;
}

/* New tweet textarea */
#tweet-text {
  width: 100%;
  border-style: none;
  outline: none;
  resize: none;
  background-color: #f4f1ec;
}
