button {
  background-color: #4056a1;
  color: #FFFFFF;
}

button:hover {
  background-color: #4087a1;
}

.form-footer {
  padding: 0.75em 0;
  border-top: thick solid black;
  font-family: "Bungee", cursive;
  display: flex;
  justify-content: space-between;
}

.exceed-limit {
  color: #A14056;
}

.alert {
  display: none;
  background-color: #e5bec7;
  color: #A14056;
  font-weight: bold;
  font-size: smaller;
  padding: .35em;
  margin-bottom: 1em;
}

#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  border-style: none;
  outline: none;
  resize: none;
}
